body{
    
    font-family: 'Roboto', monospace;

   
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.top{
    font-family: 'Montserrat', sans-serif;
}
.shared{
    color:green;
}
.navbar{
    margin-bottom: 0px;
}
.uppsection{
background-image:url(//www.upwork.com/static/marketing/adquiro-webpack/images/yellow-homepage-hero-image.2ee2461cf40f.jpg);
    text-align: left;
max-height: 600px;
min-height: 500px;
height: 66vh;
}
.dev{
    max-width: 1200px;
}
.devbutton{
     width: 100px !important ;
}
.add-dev-button {
    display: inline-block;
    color: #FFF;
    background: #03A9F4;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1000px;
    float: right;
    margin-bottom: 30px;
  }
  .add-form-container{
      margin-bottom: 30px;
     
  }
  .dev-photo{
    height:100px;
    width: 100px;
  }